# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Secrets
*.pem
*.key
secrets.tf

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Scripts output
scripts/*.log
tfplan
